<div class="page-container">
  <h1>Rates</h1>
  <div class="page-button-container mt-3">
    <%= live_patch "Upload Rate", to: Routes.rate_index_path(@socket, :new), class: "button -dark" %>
  </div>
</div>
