<div class="sub-nav">
  <%= if not is_nil(@current_users) and @current_users.role === :manager do %>
    <div class="nav-item"><%= link "Employee Dashboard", to: Routes.employee_index_path(@conn, :index) %></div>
  <% end %>
</div>
