<div class="users-nav-menu">
  <%= if @current_users do %>
    <div class="nav-item"><%= @current_users.username %></div>
    <div class="nav-item"><%= link "Log out", to: Routes.users_session_path(@conn, :delete), method: :delete %></div>
  <% else %>
    <div class="nav-item"><%= link "Register", to: Routes.users_registration_path(@conn, :new) %></div>
    <div class="nav-item"><%= link "Log in", to: Routes.users_session_path(@conn, :new) %></div>
  <% end %>
</div>
