<div class="page-container">
  <h1>Requests</h1>
  <div class="mt-3 flex flex-col gap-3">
    <div class="overflow-auto">
      <table class="data-table">
        <tr class="header-row">
          <th class="header">
            Name
          </th>
          <th class="header">
            Type
          </th>
          <th class="header">
            Actions
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
