.bill-card {
  @apply font-medium flex flex-col gap-2;

  width: 10cm;
  height: 16.5cm;
  padding: 1.0cm 0.5cm 0.5cm 0.5cm;

  font-size: 12px;
  border: 1px dotted black;
  break-inside: avoid;
}

.bill-header {
  @apply font-bold uppercase flex flex-row gap-4 items-center;
}

.bill-header > .logo {
  @apply rounded-full;

  height: 75px;
  width: 75px;
}

.header-text {
  @apply flex flex-col gap-1 items-center;

  > * {
    @apply text-center;
  }

  > .contact {
    font-size: 10px;
  }
}

.bill-content {
  @apply h-max;

  background-image: url("/images/bill-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.death-aid-section {
  @apply flex flex-col justify-end h-max flex-grow;
}

.bill-highlight {
  @apply text-red-500
}
