.log-in-column {
  @apply flex flex-col gap-8;
}

.log-in-container {
  @apply flex flex-col bg-blue-200 p-4 justify-center gap-4;
}

.landing-image {
  max-width: 250px;
}

.contact-us-container {
  @apply flex flex-col bg-blue-200 p-4 justify-center gap-2;
}

.contact-group {
  @apply flex flex-row gap-2;
}

.contact-group > .contact {
  @apply font-bold;
}

.landing-text-container {
  @apply container flex flex-col gap-8 items-center h-full justify-center;

  height: calc(100vh - 122px);
  min-height: 768px;
}
