<div class="page-container">
  <h1>Payments</h1>
<.live_component
  module={GuimbalWaterworksWeb.PaymentLive.PaymentList}
  for={:payment_page}
  id={:payment_list}
  base_params={%{}}
  filter_params={@filter_params}
  current_users={@current_users}
/>
</div>
